@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply mt-2 pt-4 pb-4 pl-6 rounded-lg bg-transparent border border-supporting text-supporting  focus:border-primary focus:outline-none transition ease-in-out delay-100 w-full;
}

.error-input {
  @apply mt-2 pt-4 pb-4 pl-6 rounded-lg bg-transparent border border-error text-supporting focus:border-primary focus:outline-none transition ease-in-out delay-100 w-full;
}

.button-style {
  @apply mt-16 pt-3 pb-3 max-h-16 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-primary font-global font-regular text-typography cursor-pointer;
}

.button-disabled-style {
  @apply mt-16 pt-3 pb-3 max-h-16 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-supporting font-global font-regular text-typography cursor-not-allowed;
}

.button-logout {
  @apply pt-2 pb-2 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-error bg-opacity-60 hover:bg-opacity-100 font-global font-regular text-typography cursor-pointer;
}

.navbar {
  @apply absolute top-0 left-0 bottom-0 w-72 bg-supporting;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 19px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.text {
  color: #fef6e4;
}
