@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply mt-2 pt-4 pb-4 pl-6 rounded-lg bg-transparent border border-supporting text-supporting  focus:border-primary focus:outline-none transition ease-in-out delay-100 w-full;
}

.error-input {
  @apply mt-2 pt-4 pb-4 pl-6 rounded-lg bg-transparent border border-error text-supporting focus:border-primary focus:outline-none transition ease-in-out delay-100 w-full;
}

.button-style {
  @apply mt-16 pt-3 pb-3 max-h-16 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-primary font-global font-regular text-typography cursor-pointer;
}

.button-disabled-style {
  @apply mt-16 pt-3 pb-3 max-h-16 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-supporting font-global font-regular text-typography cursor-not-allowed;
}

.button-logout {
  @apply pt-2 pb-2 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-error bg-opacity-60 hover:bg-opacity-100 font-global font-regular text-typography cursor-pointer;
}

.button-add-table {
  @apply pt-2 pb-2 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-primary bg-opacity-60 hover:bg-opacity-100 font-global font-regular text-typography cursor-pointer;
}
.button-add-table-disabled {
  @apply pt-2 pb-2 pl-6 pr-6 rounded-lg hover:outline-none transition ease-in-out delay-100 w-full bg-supporting bg-opacity-60 font-global font-regular text-typography cursor-not-allowed;
}

.navbar {
  @apply absolute top-0 left-0 bottom-0 w-72 bg-navBgColor z-50 h-screen;
}

.messageBox {
  @apply bg-primary mr-5 mb-5 rounded-lg pl-3 pr-3 pt-1 pb-1 flex justify-between cursor-pointer hover:bg-primaryHover border border-typography;
}

.messageBoxUnselect {
  @apply bg-transparent mr-5 mb-5 rounded-lg pl-3 pr-3 pt-1 pb-1 flex justify-between cursor-pointer border border-typography;
}

.tableBoxSelected {
  @apply bg-primary h-12 flex justify-center items-center rounded-xl hover:bg-primaryHover cursor-pointer;
}

.tableBoxUnselected {
  @apply bg-supporting h-12 flex justify-center items-center rounded-xl hover:bg-supportingHover cursor-pointer;
}

.add-item {
  width: 36px;
  margin-left: 6px;
  margin-right: 15px;
}

.elements {
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .elements {
    max-height: 85%;
  }
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 23.5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 51;
  background: transparent;
}

.icon-svg {
  fill: white !important;
  stroke: white !important;
}

.margin-auto {
  margin: auto;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  @apply absolute top-0 left-0 bg-transparent rounded-full border border-typography w-7 h-7;
}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: transparent;
  border-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  background-color: #f0803c;
}

.checkbox-padding {
  padding-top: 2px;
}

@media (min-width: 640px) {
  .add-table-form-wrapper {
    overflow: auto;
    height: 80vh;
  }
}

/* Checkboxes */
/* The container */
.container-cbx {
  display: block;
  position: relative;
  padding-left: 61px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-cbx .input-cbx {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-cbx {
  position: absolute;
  top: 2.5px;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 5px;
  background-color: #eeeeee00;
  border: 1px solid #ffffff;
}

/* On mouse-over, add a grey background color */
.container-cbx:hover .input-cbx ~ .checkmark-cbx {
  background-color: #cccccc2a;
}

/* When the checkbox is checked, add a blue background */
.container-cbx .input-cbx:checked ~ .checkmark-cbx {
  background-color: #f0803c;
}

/* Create the checkmark-cbx/indicator (hidden when not checked) */
.checkmark-cbx:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-cbx when checked */
.container-cbx .input-cbx:checked ~ .checkmark-cbx:after {
  display: block;
}

/* Style the checkmark-cbx/indicator */
.container-cbx .checkmark-cbx:after {
  left: 6px;
  top: 1px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user-icon-cbx {
  position: absolute;
  top: 3px;
  left: 34px;
  width: 17px;
}
